#trump {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: url(/img/trump.jpg) center no-repeat;
	background-size: 90%; 
}
#trump.sad {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: url(/img/trump-sad.jpg) center no-repeat;
	background-size: 90%;
}

#trump-health {
	width: 300px;
	border: 2px solid #000;
	margin: 0 auto 20px auto;
}

#trump-health div {
	height: 20px;
	background: crimson;
}

#controls {
	width: 120px;
	margin: 0 auto;
}
